/* src/index.css */
@import 'tailwindcss';

:root {
    --color-primary: #1da1f2;
    --font-sans: 'Helvetica Neue', Arial, sans-serif;
  }
  
  /* Optional: Apply variables to Tailwind classes */
  body {
    font-family: var(--font-sans);
    background-color: var(--color-primary);
  }